{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            To get started, choose your course.
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <div class="list-group">
                    <a href="{% url 'generic' %}" class="list-group-item list-group-item-action">Generic Scholarships</a>
                    <a href="{% url "agri_vet"%}" class="list-group-item list-group-item-action">Agriculture and Veterinary Scholarships</a>
                    <a class="list-group-item list-group-item-action">Computer Science and Mathematics Scholarships</a>
                    <a class="list-group-item list-group-item-action">Humanities Scholarships</a>
                    <a class="list-group-item list-group-item-action">Law Scholarships</a>
                    <a class="list-group-item list-group-item-action">Fitness Scholarships</a>
                    <a class="list-group-item list-group-item-action">Social Communications Scholarships</a>
                </div>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}
